@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

}
